.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  height: 100%;

  &--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
  }
}
  