.note-editor-widget-container {
  h1 {
    margin-bottom: 20px;
    justify-self: center;
  }
}

.ce-popover-item-html[data-item-name="style"] path {
  stroke: none;
}

.codex-editor__redactor {
  min-height: 50vh;

  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 16px;
}

.ce-popover__container {
  width: 250px !important;
}

.ce-popover-item-html label:has(input.id-input) {
  display: none !important;
}

.ce-popover-item-html label:has(input.class-input) {
  display: none !important;
}

.delete-button cdx-settings-button {
  .codex-editor path {
    stroke: none;
  }
}

.ce-popover-item-html button:has(input.style-input) {
  .codex-editor path {
    stroke: none;
  }
}

.delete-button {
  svg {
    path {
      stroke: none;
    }
  }
}
