.project-access-modal-content {
  width: 560px;
  height: auto !important;
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-5);
  padding: 26px;
}
  
.project-access-modal__header,
.project-access-modal__participants-list,
.project-access-modal__add-participant-section,
.project-access-modal__footer {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-2);
}
  
.project-access-modal__list-title,
.project-access-modal__add-title {
  margin-bottom: var(--g-spacing-1);
}
  
.project-access-modal__participant-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--g-spacing-2) 0;
  border-bottom: 1px solid var(--g-color-line-generic);
  
  &:last-child {
    border-bottom: none;
  }
}
  
.project-access-modal__user-info {
  flex-grow: 1;
  margin-right: var(--g-spacing-2);
}
  
.project-access-modal__role-controls {
  min-width: 120px;
  margin-right: var(--g-spacing-2);
  text-align: end;
}
  
.project-access-modal__add-participant-section {
  .yc-select, .yc-text-input {
    margin-bottom: var(--g-spacing-2);
  }
  display: flex;
  align-items: flex-start;
  gap: var(--g-spacing-2);

  .project-access-modal__user-select {
    flex-grow: 1;
    min-width: 200px;
  }
  .project-access-modal__role-select-new {
    min-width: 120px;
  }
}
  
.project-access-modal__error-text {
  margin-top: var(--g-spacing-1);
}

.project-access-modal__footer {
  justify-content: flex-end;
  flex-direction: row;
}

.project-access-modal__add-button {
  justify-self: start;
  align-self: flex-end;
}

.project-access-modal__group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project-access-modal__footer {
  margin-top: 30px;
}

.project-access-modal__role-select-new {
  margin-left: 6px;
}